@use "mixins";
@use "variables";

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: variables.$font-size-base;

  @include mixins.respond-to(md) {
    font-size: 14px;
  }
}

body {
  font-family: variables.$font-family-base;
  line-height: 1.6;
  color: variables.$text-color;
  background-color: variables.$background-color;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}
